Source: process-control
Maintainer: Adam Roses Wight <awight@wikimedia.org>
Uploaders: Wikimedia Fundraising Tech <fr-tech@wikimedia.org>
Section: admin
Priority: optional
Build-Depends: debhelper (>= 9),
 python3-all,
 python3-mock,
 python3-nose,
 python3-setuptools,
 bash-completion
Standards-Version: 3.9.8
Homepage: https://github.com/adamwight/process-control
Vcs-Browser: https://github.com/adamwight/process-control
Vcs-Git: git://github.com/adamwight/process-control.git
X-Python3-Version: >= 3.4

Package: process-control
Architecture: all
Depends: ${python3:Depends},
 ${misc:Depends},
 python3-yaml,
 adduser
Description: Tools for Wikimedia Foundation Fundraising job management
 Control and schedule jobs using configuration files.
